<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#34d399">
  <meta name="description" content="Leaf Bank App (Vue Version)">
  <title>Leaf Bank</title>
</head>

<body>
  <noscript>
    <strong>
      You need to enable JavaScript to run this app
    </strong>
  </noscript>
  <div id="root"></div>
</body>

</html>