<template>
  <div class="card" :style="`transform: ${reversed ? 'rotateY(180deg)' : 'rotateY(0deg)'};`">
    <Recto :cardNumber="hiddenCardNumber" :fullName="fullName" :month="month" :year="year">
      <Visa v-if="cardNumber.startsWith('4')" />
      <MasterCard v-if="cardNumber.startsWith('5')" />
    </Recto>

    <Verso :cardNumber="hiddenCardNumber" :fullName="fullName" :month="month" :year="year" :crypto="crypto" />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import Recto from './Recto.vue';
import Verso from './Verso.vue';
import { MasterCard, Visa } from '@/components/icons';
import { PATTERN } from '@/constants';

export default defineComponent({
  name: 'Card',
  components: {
    Recto,
    Verso,
    MasterCard,
    Visa
  },
  props: {
    reversed: Boolean,
    cardNumber: {
      type: String,
      default: ''
    },
    fullName: String,
    month: String,
    year: String,
    crypto: String
  },
  setup(props) {
    const hiddenCardNumber = computed(() =>
      PATTERN.replace(/\*/g, (char, idx) => {
        if ((idx >= 5 && idx <= 8) || (idx >= 15 && idx <= 18)) {
          return props.cardNumber[idx] || char;
        }
        return char;
      })
    );

    return {
      hiddenCardNumber
    };
  }
});
</script>
