<template>
  <div class="verso">
    <div class="half">
      <p class="leaf-bank row">
        <span class="title">LEAF</span>
        <span class="subtitle">bank</span>
      </p>
      <div class="magnetic-tape" />
    </div>

    <div class="half">
      <p class="card-number">{{ cardNumber }}</p>
      <p class="crypto">{{ crypto }}</p>

      <div class="corners">
        <p class="card-corner">
          <span class="value truncate">{{ fullName || 'Unknown' }}</span>
        </p>
        <p class="card-corner">
          <span class="value">{{ month }}/{{ year }}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Verso',
  props: {
    cardNumber: String,
    fullName: String,
    month: String,
    year: String,
    crypto: String
  }
});
</script>

<style>
.verso {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
</style>
