<template>
  <div>
    <Modal v-if="modalTitle" :isVisible="modalVisibility" :title="modalTitle" :isError="modalError" />

    <Card
      :reversed="reversed"
      :cardNumber="cardNumber"
      :fullName="cardHolder"
      :month="convertedMonth"
      :year="convertedYear"
      :crypto="crypto"
    />

    <form @submit.prevent="handleSubmit">
      <Field
        classes="row"
        style="margin-top: auto"
        id="cardHolder"
        label="Card Holder"
        placeholder="John Doe"
        @input="setCardHolder"
        @focus="() => setReversed(false)"
      />

      <Field
        classes="row"
        id="cardNumber"
        label="Card Number"
        placeholder="5678 1234 5678 1234"
        :maxLength="19"
        @input="inputCardNumber"
        @focus="() => setReversed(false)"
      />

      <div class="field-group">
        <div class="field" style="width: 100px">
          <label for="expiresThru">Expires Thru</label>
          <Selector
            defaultLabel="Month"
            ariaLabelledBy="expiresThru"
            @btnClick="() => setReversed(false)"
            :options="months"
            @optClick="val => setMonth(val)"
          />
        </div>

        <div class="field" style="width: 100px">
          <Selector
            defaultLabel="Year"
            @btnClick="() => setReversed(false)"
            :options="years"
            @optClick="val => setYear(val)"
          />
        </div>

        <Field
          style="width: 50px"
          id="crypto"
          label="CVV"
          placeholder="567"
          :maxLength="3"
          @input="inputCrypto"
          @focus="() => setReversed(true)"
        />
      </div>

      <button class="submit" :disabled="loading || !isValid()">
        {{ loading ? 'Loading' : 'Submit' }}
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import useField from '@/composables/useField';
import useModal from '@/composables/useModal';
import * as CreditCardService from '@/services/creditCardService';
import { Card } from './card';
import Field from './Field.vue';
import Modal from './Modal.vue';
import Selector from './Selector.vue';
import { getYears, convertMonthToInt, convertYearToInt } from '@/utils';
import { MONTHS } from '@/constants';

export default defineComponent({
  name: 'App',
  components: {
    Card,
    Field,
    Modal,
    Selector
  },
  setup() {
    const reversed = ref(false);
    const setReversed = (value: boolean) => (reversed.value = value);

    const [cardHolder, setCardHolder] = useField('');
    const [cardNumber, setCardNumber] = useField('');
    const [crypto, setCrypto] = useField('');

    const months = computed(() => MONTHS);
    const month = ref('');
    const setMonth = (value: string) => (month.value = value);
    const convertedMonth = computed(() => convertMonthToInt(month.value));

    const years = computed(() => getYears(5, 20));
    const year = ref('');
    const setYear = (value: string) => (year.value = value);
    const convertedYear = computed(() => convertYearToInt(year.value));

    const loading = ref(false);
    const setLoading = (value: boolean) => (loading.value = value);

    const { title: modalTitle, isVisible: modalVisibility, error: modalError, ...modal } = useModal();

    return {
      reversed,
      setReversed,
      cardHolder,
      setCardHolder,
      cardNumber,
      setCardNumber,
      months,
      month,
      setMonth,
      convertedMonth,
      years,
      year,
      setYear,
      convertedYear,
      crypto,
      setCrypto,
      loading,
      setLoading,
      modal,
      modalTitle,
      modalVisibility,
      modalError
    };
  },
  mounted() {
    // eslint-disable-next-line
    console.log('Leaf Bank');
  },
  methods: {
    inputCardNumber(event: Event) {
      (event.target as HTMLInputElement).value = (event.target as HTMLInputElement).value
        .replace(/[^\dA-Z]/g, '') // NOTE: Escapes Digits, Matches Words
        .replace(/(.{4})/g, '$1 ') // NOTE: Any Chars, 4 Times
        .trim();

      this.setCardNumber(event);
    },
    inputCrypto(event: Event) {
      (event.target as HTMLInputElement).value = (event.target as HTMLInputElement).value
        .replace(/[^\dA-Z]/g, '') // NOTE: Escapes Digits, Matches Words
        .trim();

      this.setCrypto(event);
    },
    isValid() {
      if (this.cardHolder.length === 0) {
        return false;
      }

      if (this.cardNumber.length === 0) {
        return false;
      }

      if (this.month.length === 0) {
        return false;
      }

      if (this.year.length === 0) {
        return false;
      }

      if (this.crypto.length === 0) {
        return false;
      }

      return true;
    },
    handleSubmit() {
      this.setLoading(true);

      const expirationDate = new Date();
      expirationDate.setMonth(+this.month);
      expirationDate.setFullYear(+this.year);

      CreditCardService.validateCreditCard({
        cardHolder: this.cardHolder,
        cardNumber: this.cardNumber.replace(/\s/g, ''), // NOTE: Matches Whitespaces
        expirationDate,
        crypto: this.crypto
      })
        .then(res => {
          this.modal.setTitle(res.message);

          setTimeout(() => {
            this.modal.visibilityOn();
          }, 0.5 * 1000);
        })
        .catch(err => {
          this.modal.setError(true);
          this.modal.setTitle(err.message);

          setTimeout(() => {
            this.modal.visibilityOn();
          }, 0.5 * 1000);
        })
        .finally(() => this.setLoading(false));
    }
  }
});
</script>
