<template>
  <div :class="`field ${classes}`" :style="style">
    <label v-if="label" :for="id">{{ label }}</label>
    <input
      :id="id"
      :name="name || id"
      :type="type"
      :placeholder="placeholder"
      :maxlength="maxLength"
      @input="$emit('input', $event)"
      @focus="$emit('focus', $event)"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Field',
  props: {
    classes: String,
    style: Object,
    id: String,
    name: String,
    label: String,
    type: {
      type: String,
      default: 'text'
    },
    placeholder: String,
    maxLength: Number
  }
});
</script>
