<template>
  <div class="modal-support" :style="`opacity: ${isVisible ? 1 : 0}`">
    <div class="modal" :style="`transform: ${isVisible ? 'scale(1)' : 'scale(0)'}`">
      <div
        class="modal-icon"
        :style="`color: ${isError ? 'var(--red-500)' : 'var(--green-500)'}; background-color: ${
          isError ? 'var(--red-300)' : 'var(--green-300)'
        }`"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
          <line x1="1" y1="10" x2="23" y2="10" />
        </svg>
      </div>
      <p class="modal-title">{{ title }}</p>
      <p class="modal-description">{{ description }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { LOREM_IPSUM } from '@/constants';
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'Modal',
  props: {
    isVisible: {
      type: Boolean,
      default: false
    },
    isError: Boolean,
    title: String
  },
  setup() {
    const description = computed(() => LOREM_IPSUM);

    return {
      description
    };
  }
});
</script>
