<template>
  <div style="position: relative">
    <button
      class="selector"
      type="button"
      @click="btnClick"
      aria-haspopup="listbox"
      :aria-expanded="displayList"
      :aria-labelledby="ariaLabelledBy"
    >
      {{ label || defaultLabel }}
      <svg width="16" height="16" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8 9l4-4 4 4m0 6l-4 4-4-4"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <ul v-if="displayList" class="listbox" tabindex="-1" role="listbox">
      <li
        v-for="(option, idx) in options"
        :key="idx"
        :id="`listbox-option-${idx}`"
        :class="`option${label === option ? ' selected' : ''}`"
        role="option"
        :aria-selected="label === option"
        @click="() => optClick(option)"
      >
        {{ option }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'Selector',
  props: {
    defaultLabel: {
      type: String,
      default: 'Unknown'
    },
    ariaLabelledBy: String,
    options: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  setup() {
    const label = ref('');
    const setLabel = (value: string) => (label.value = value);

    const displayList = ref(false);
    const setDisplayList = (value: boolean) => (displayList.value = value);

    return {
      label,
      setLabel,
      displayList,
      setDisplayList
    };
  },
  methods: {
    btnClick(event: Event) {
      this.setDisplayList(!this.displayList);
      this.$emit('btn-click', event);
    },
    optClick(value: string) {
      this.setLabel(value);
      this.setDisplayList(false);
      this.$emit('opt-click', value);
    }
  }
});
</script>
