<template>
  <svg width="36" height="36" fill="none" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" :style="style">
    <path
      d="M17.015 27.047c.087.073.18.146.271.218a11.087 11.087 0 01-6.16 1.857C4.98 29.124 0 24.145 0 18 0 11.857 4.98 6.876 11.124 6.876c2.277 0 4.396.684 6.158 1.857-.09.077-.18.147-.248.225A11.945 11.945 0 0012.893 18c0 3.466 1.501 6.765 4.122 9.047zm7.861-20.171c-2.28 0-4.396.684-6.158 1.857.09.077.18.147.248.225A11.945 11.945 0 0123.108 18c0 3.465-1.502 6.76-4.123 9.047-.087.073-.18.146-.271.218a11.08 11.08 0 006.16 1.857C31.02 29.124 36 24.145 36 18c0-6.141-4.98-11.124-11.124-11.124zM18 9.261A11.082 11.082 0 0013.754 18 11.08 11.08 0 0018 26.74 11.085 11.085 0 0022.247 18 11.082 11.082 0 0018 9.261z"
      fill="#fff"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MasterCard',
  props: {
    style: Object
  }
});
</script>
